<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pucc.datausability.usability.mapper.RngMapper">
    <select id="selectDate" parameterType="String" resultType="String">
        select dt
        from data_supervisor.rng
        group by dt
        order by dt desc limit 32
    </select>
    <select id="selectEcharsData" parameterType="String" resultType="com.alibaba.fastjson2.JSONObject">
        select *
        from data_supervisor.rng
        where db = #{database}
          and tbl = #{table}
        order by dt desc, col desc limit 31
    </select>

    <select id="countWithDate" parameterType="String" resultType="Double">
        select count
        from data_supervisor.rng
        where db = #{database}
          and tbl = #{table}
          and dt = #{date} limit 1
    </select>

    <select id="findWarningData" parameterType="String" resultType="com.alibaba.fastjson2.JSONObject">
        select
        dt,
        db,
        tbl,
        `value`,
        col,
        notification_level
        from
        data_supervisor.rng t
        <where>
            `value` not between value_min and value_max
            <if test="dt!=null">
                and dt=#{dt}
            </if>
            <if test="level!=null ">
                and `level`=#{level}
            </if>
            <if test="database!=null ">
                and db=#{database}
            </if>
        </where>
    </select>

    <select id="findWarningInfo" parameterType="String" resultType="com.alibaba.fastjson2.JSONObject">
        select *
        from data_supervisor.rng d
        where db = #{db}
          and tbl = #{tbl}
          and dt = #{dt}
          and col = #{col}
    </select>
</mapper>
